/* Mobile-first: full width on small screens, half width on desktop */
.w-mobile-100-desktop-50 {
  width: 100%;
}

@media (min-width: 768px) {
  .w-mobile-100-desktop-50 {
    width: 50%;
  }
}

.modalMessage {
  background: url("/assets/img/Moon.png") no-repeat center center;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  justify-items: center;
  align-items: center;
}
